@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

.nav-item:hover{
    color: white;
    border-bottom: 2px solid rgb(126, 126, 223);
}

.nav-item{
    font-size: 1.2rem;
    font-family: 'Ubuntu', sans-serif;

}

.navbar-brand{
    font-size: 1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.off{
    color: rgb(126, 126, 223);
}


.text {
    background-color:rgb(126, 126, 223);
    text-decoration: none;
}

.text a{
    text-decoration: none;
    color: white;
}

.text a:hover{
    text-decoration: none;
    color: black;
}

